PUBLIC_BASE_URL=localhost:3000
PUBLIC_URL=http://${PUBLIC_BASE_URL}
NEXT_PUBLIC_BACKEND_URL=http://localhost:8080
API_GENERATED_OUTPUT_DIR=./src/plugins/api-repository-generated
GITHUB_ID=undefined
GOOGLE_ID=undefined